<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Form Input Kapal</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
</head>
<body class="bg-secondary">
  <h1 class="text-center mb-3">Form Input Kapal</h1>
  <div class="container">
    <form action="/kapal/store" method="POST">
      <div class="mb-3">
        <label for="nama_kapal" class="form-label">Nama Kapal</label>
        <input type="text" class="form-control" id="nama_kapal" name="nama_kapal" required />
      </div>
      <div class="mb-3">
        <label for="id_pemilik" class="form-label">ID Pemilik</label>
        <input type="text" class="form-control" id="id_pemilik" name="id_pemilik" required />
      </div>
      <div class="mb-3">
        <label for="id_dpi" class="form-label">ID DPI</label>
        <input type="text" class="form-control" id="id_dpi" name="id_dpi" required />
      </div>
      <div class="mb-3">
        <label for="id_alat_tangkap" class="form-label">ID Alat Tangkap</label>
        <input type="text" class="form-control" id="id_alat_tangkap" name="id_alat_tangkap" required />
      </div>
      <button type="submit" class="btn btn-dark mb-3">Submit</button>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
